.app__specials{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-left:20rem;
padding-right: 20rem;
padding-top:8rem;
padding-bottom:4rem;
gap:2rem;
}

.app__specials-header{
display: flex;
flex-direction: row;
width:100%;
justify-content: space-between;
align-items: center;
}

.app__specials-main{
display: flex;
width:100%;
flex-direction: row;
align-items: center;
justify-content: space-between;}

.app__specials-menuItem{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.app__specials-menuItem-text{
display: flex;
background:#edefee;
padding: 1.438rem 0.938rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.875rem;
}

.app__specials-menuItem-titlePrice{
display: flex;
align-items: center;
gap: 3.75rem;}

.app__specials-menuItem-title{
color: #000;
font-family: Markazi Text;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.app__specials-menuItem-price{
color: #EE9972;
font-family: Karla;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.app__specials-menuItem-paragraph{
color: #495E57;
font-family: Karla;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 14.688rem;
}

.app__specials-menuItem-delivery{
display: flex;
align-items: center;
gap: 0.625rem;
}

.app__specials-menuItem-deliveryText{
color: #000;
font-family: Karla;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.app__specials-header-title{
color: #000;
font-family: Karla;
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.app__specials-header-button{
padding: 1.188rem 2.125rem;
justify-content: center;
align-items: center;
color: #000;
font-family: Karla;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 0.5rem;
background: #F4CE14;
border: none;
outline: none;
cursor: pointer;
}

@media screen and (max-width: 650px) {
     .app__specials{
    padding:2rem;}
    .app__specials-main{
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }

    .app__specials-header{
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.app__specials-header-title{
  text-align:center;
}

}