.app__footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 60px;
padding:4rem;
}

.app__footer-textMenu{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 3.75rem;
}

.app__footer-navigation{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.938rem;
}

.app__footer-header{
color: #495E57;
font-family: Karla;
font-size: 1.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.app__footer-subtext{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
}

.app__footer-subtext li{
  list-style-type: none; /* Remove default bullet points */
  text-decoration: none; /* Remove underline */
}

.app__footer-subtext a{
text-decoration: none;
color: #333;
font-family: Karla;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 130%;
}

@media screen and (max-width: 650px) {
    .app__footer {
        flex-direction: column;
        align-items: center;
    }

    .app__footer-textMenu {
        flex-direction: column;
    }
}