.app__hero{
    height: 22.25rem;
    background: #495E57;
}

.app__hero-text{
display: flex;
width: 25rem;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap:0.5rem;
}

.app__hero-header{
color: #F4CE14;
font-family: Markazi Text;
font-size: 4rem;
width:100%;
font-style: normal;
font-weight: 500;
line-height: 2.5rem; /* 62.5% */
}

.app__hero-subheader{
color: #FFF;
font-family: Markazi Text;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.app__hero-paragraph{
color: #FFF;
font-family: Karla;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.app__hero-content{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding:4rem 16rem;
}

.app__hero-textButton{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 2rem;
}

.app__hero-button{
display: flex;
padding: 0.625rem 2.125rem;
justify-content: center;
align-items: center;
color: #000;
font-family: Karla;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 0.5rem;
background: #F4CE14;
border: none;
outline: none;
cursor: pointer;
}

@media screen and (max-width: 650px) {
    .app__hero-content{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap:4rem;
      padding:2rem 1rem;
      width:100%;
    }
    .app__hero{
        height:100%;
        width:100%;
    }
    .app__hero-text{
        width:100%;
        justify-content: center;
    }

}



